# Playwright
#node_modules/
#/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


/allure-results/





# Node modules
node_modules/

# Playwright browser binaries
#playwright/.local-browsers/

# Test artifacts
allure-results/
test-results/
screenshots/
videos/
trace/

# Logs
*.log

# Environment variables (include .env if you want to push it)
# .env files will be tracked if you don’t ignore them
# .env
# .env.local
# .env.*.local

# Coverage reports
coverage/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.Spotlight-V100
.Trashes
*.swp

# IDE / editor files
.vscode/
.idea/
*.iml

# Optional: npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
